.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #333;
    font-family: sans-serif;
}

body{
    overflow-x: hidden;
}

.flex-item{
    flex-grow: 1;
    margin: 20px;
    max-width: 340px;
    border: 2px solid #333;
    padding:0 20px;
}

.flex-item:hover{
    border-color:#71a154;
    box-shadow: 0 0 30px #31a124;
}

.flex-item:hover{
    border-color:#71a154;
    box-shadow: 0 0 30px #31a124;
}

h2,h3{
    margin: 0;
}

h3{
    color:#666;
}

p b {
    color: #71a154
}


.llave-img{
    width: 150px;
}

form{
    width: 100%;
    text-align: center;
    padding:50px;
}

input[type="submit"]{
    background: #317124;
    color:#fff;
    border:none;
    padding: 12px 36px;
    font-size: 17px;
    letter-spacing: 1px;
}